<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nq.journalism_master">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homepage.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.webview.WebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".collection.CollectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".collection.Fragment.ImageNewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.AboutSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.webview.WebNewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.about.AboutPreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".innerbrowser.InnerBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
    </application>

</manifest>